.editorContainer {
  display: flex;
  flex-direction: column;
}
.editorContainer p {
  margin-block: 0px;
}

.editorContentWrapper {
  /* position: relative; */
  display: inline-flex;
  margin-inline: auto;
}

.editorContentContainer {
  margin-block: 1em;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

  @media (max-width: 800px) {
    width: 100vw;
    margin-block: 0;
  }
}
.editorContentContainer > * {
  height: 100%;
}

.editorContent {
  height: 100%;
  overflow-y: auto;
}
.editorContent:focus-visible {
  outline: none;
}
.editorContent::selection {
  background-color: rgb(177, 211, 255);
}

.toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  padding: 0.25em 1em;
}

.toolbarSpacer {
  height: 80%;
  border-right: 1px solid #b8b8b8;
  margin-inline: 0.65em;
}

.toolbarButton {
  width: 30px;
  height: 100%;
  max-height: 30px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.toolbarButton:hover {
  cursor: pointer;
  background-color: rgba(177, 211, 255, 0.3);
}
.toolbarButton.isActive {
  background-color: rgba(177, 211, 255, 0.3);
}
