

#resume-editor-container .ql-container {
  border: none;
  display: flex;
  justify-content: center;
}


#resume-editor-container .ql-editor {
  width: 21cm;
  min-height: 29.7cm;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}


#resume-editor-container .ql-toolbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}
