.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor-content-wrapper {
  width: 21cm;
  min-height: 29.7cm;
  padding: 0.75in;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}
.editor-content-wrapper:focus-visible {
  outline: none;
}
.editor-content-wrapper::selection {
  background-color: rgb(177, 211, 255);
}